.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/close-button.svg");
  width: 20px;
  height: 20px;
  border: none;
}
.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}
.modal__title {
  margin: 0 0 24px 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid;
}

.modal__label {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.modal__submit {
  width: 124px;
  height: 36px;
  padding: 0;
  margin-top: 32px;
  box-sizing: border-box;
  border: none;
  background-image: url("../../assets/submit-button.svg");
}
.modal__legend {
  margin-bottom: 12px;
}
.modal__label_type_radio {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}
