.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__image {
  width: 100%;
}

.card__name {
  position: absolute;
  margin: 0;
  top: 15px;
  left: 130px;
}

.card__like-button {
  width: 18px;
  height: 15px;
  background: transparent url(../../assets/unliked.svg);
}

.card__like-button_is-active {
  background: url(../../assets/liked.svg);
  border: none;
}
