.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__image {
  width: 100%;
}

.card__name {
  /* position: absolute; */
  margin: 0;
  /* top: 15px;
  left: 130px; */
}

.card__like-button {
  width: 20px;
  height: 17px;
  background: transparent url(../../assets/unliked.svg);
  border: none;
  /* position: relative;
  right: 92px;
  top: 22px; */
}

.card__like-button_is-active {
  background: url(../../assets/liked.svg);
}

.card__header {
  position: absolute;
  left: 0px;
  top: 0px;
  gap: 20px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
