.modal__image {
  width: 100%;
  border-radius: 16px;
  max-width: 497px;
  max-height: 498px;
  object-fit: cover;
}

.modal__caption {
  margin: 0;
}

.modal__weather {
  margin: 0;
}
.modal__footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
.modal__content_type_image {
  width: 498px;
  height: 610px;
}
.modal__delete-button-text {
  margin: 0;
}
