.sidebar {
  display: flex;
  gap: 16px;
}
.sidebar__avatar {
  margin-left: 40px;
}
.sidebar__username {
  margin-left: 16px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
}
